
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header ">
                  <h4 class="card-title">Your Shouts</h4>
                  <p class="card-category">You can view and take actions on your Shouts here.</p>
              </div>
              <div class="card-body table-full-width table-responsive">
                  <table class="table table-hover table-striped">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="center column-remove-1">ID</th>
                          <th class="center">Customer</th>
                          <th class="center column-remove-1">Date</th>
                          <th class="center">View / Upload</th>
                          <th class="center">Upload</th>
                          <th class="center column-remove-2">Action</th>
                        </tr>
                      </thead>
                      <% @orders_tables.each do |order| %>
                        <tbody>
                          <tr>
                            <td class="center column-remove-1"><%= order.id %></td>
                            <td class="center"><%= order.buyer.name %></td>
                            <td class="center column-remove-1"><%= order.created_at.strftime("%B %-d, %Y") %></td>
                            <td class="center"><%= link_to order_path(order), class: "btn btn-primary-1" do %>
                              <i class="fa fa-eye" aria-hidden="true"></i>View
                            <% end %>
                            </td>
                            <td class="center">
                                <% if order.video.present? || order.order_status["charged"] %>
                                  <div class="font-awesome-shadow">
                                    <div class="tooltip2">
                                    <i class="fa fa-check-square" aria-hidden="true"></i>
                                      <span class="tooltiptext">Shout complete!</span>
                                    </div>
                                  </div>
                                  <% elsif order.order_status["cancelled"] %>
                                  <p>x</p>
                                  <% else %>
                                  <%= link_to order_path(order), class: "btn btn-primary-1" do %>
                                  <i class="fa fa-cloud-upload"></i>Upload
                                    <% end %>
                                  <% end %>
                            </td>
                            <td class="center column-remove-2">

                                    <% if order.order_status["cancelled"] ||order.order_status["charged"] %>
                                      <div class="tooltip2">
                                        <i class="fa fa-times" aria-hidden="true" style="color:grey"></i>
                                            <span class="tooltiptext">Action disabled</span>
                                      </div>
                                          <% else %>
                                            <%= form_for order, remote: true do |f| %>
                                            <%= f.hidden_field :order_status, value: "cancelled" %>
                                            <%= f.button type:'submit', data: {confirm: "Are you sure you want to cancel this order? You cannot undo this"}, class: "btn btn-danger-2" do %>
                                            <i class="fa fa-trash" aria-hidden="true"></i>Delete
                                        <% end %>
                                    <% end %>
                                  <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                  </table>
                  <div class="digg_pagination">
                  <%= will_paginate @orders_tables, :param_name => 'all_orders_page' %>
                </div>
              </div>
          </div>
      </div>
          <div class="col-lg-6 mt-5">
              <div class="card ">
                  <div class="card-header ">
                      <h4 class="card-title">Shouts History</h4>
                      <p class="card-category">Your completed & uploaded Shouts</p>
                  </div>
                  <div class="card-body">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="center">ID</th>
                          <th class="center">Customer</th>
                          <!-- <th class="center">Price</th> -->
                          <th class="center column-remove-1">Date</th>
                          <th class="center">View Order</th>
                          <th class="center">Status</th>
                        </tr>
                      </thead>
                      <% @orders_tables_comp.each do |order| %>
                        <tbody>
                          <tr>
                          <td class="center"><%= order.id %></td>
                          <td class="center"><%= order.buyer.name %></td>
                          <td class="center"><%= order.created_at.strftime("%m/%-d/%Y") %></td>
                          <td class="center column-remove-1"><%= link_to "View", order_path(order), class: "btn btn-primary-1" %></td>
                          <td class="center">
                            <div class="field">
                              <div class="font-awesome-shadow">
                                <i class="fa fa-check-square" aria-hidden="true"></i>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <div class="digg_pagination">
                      <%= will_paginate @orders_tables_comp, :param_name => 'comp_orders_page', :page_links => false %>
                    </div>
                  </div>
                  <div class="card-footer ">

                      <hr>
                      <div class="stats">
                          <i class="fa fa-check"></i> Data information certified
                      </div>
                  </div>
              </div>
          </div>
            <div class="col-lg-6 mt-5">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Shouts to Upload</h4>
                        <p class="card-category">Your Shouts that need to be Uploaded</p>
                    </div>
                    <div class="card-body ">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th class="center">ID</th>
                            <th class="center">Customer</th>
                            <!-- <th class="center">Price</th> -->
                            <th class="center column-remove-1">Date</th>
                            <th class="center">View Order</th>
                            <th class="center">Upload</th>
                          </tr>
                        </thead>
                        <% @orders_tables_up.each do |order| %>
                          <tbody>
                            <tr>
                              <td class="center"><%= order.id %></td>
                              <td class="center"><%= order.buyer.name %></td>
                              <td class="center column-remove-1"><%= order.created_at.strftime("%m/%-d/%Y") %></td>
                              <td class="center"><%= link_to "View", order_path(order), class: "btn btn-primary-1" %></td>
                              <td class="center">
                                <div class="field">
                                    <%= link_to "Upload", order_path(order), class: "btn btn-primary-1" %>
                                </div>
                              </td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                      <div class="digg_pagination">
                        <%= will_paginate @orders_tables_up, :param_name => 'up_orders_page', :page_links => false  %>
                      </div>
                    </div>
                    <div class="card-footer ">

                        <hr>
                        <div class="stats">
                            <i class="fa fa-check"></i> Data information certified
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
