
                    <div class="row">

                      <div class="col-md-6">
                          <div class="card strpied-tabled-with-hover">
                              <div class="card-header ">
                                  <h4 class="card-title">Your Shouts</h4>
                                  <p class="card-category">You can view and take action on your Shouts here.</p>
                              </div>
                              <div class="card-body table-full-width table-responsive">
                                <div class="padding_5">

                                <p id="notice"><%= notice %></p>

                                <p>
                                  <strong>Name:</strong>
                                  <%= @order.name %>
                                </p>

                                <p>
                                  <strong>Description:</strong>
                                  <%= @order.description %>
                                </p>


                                <%= link_to 'Edit', edit_listing_order_path(@order) %> |
                                <%= link_to 'Back', orders_path %>
                                </div>


                              </div>
                          </div>
                      </div>


                        <div class="col-md-6">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Your Shouts</h4>
                                    <p class="card-category">You can view and take action on your Shouts here.</p>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                  <%= form_for([@listing, @order]) do |form| %>


                                    <% if order.errors.any? %>
                                      <div id="error_explanation">
                                        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

                                        <ul>
                                        <% order.errors.full_messages.each do |message| %>
                                          <li><%= message %></li>
                                        <% end %>
                                        </ul>
                                      </div>
                                    <% end %>

                                  <% if user_signed_in? %>
                                  <div class="field">

                                    <%= form.file_field :video %>
                                  </div>


                                  <!-- ADD EDITING -->

                                  <div class="actions">
                                    <%= form.submit "Upload", class: "btn btn-success"  %>
                                  </div>
                                  <% end %>
                                  <% end %>

                                </div>
                            </div>
                        </div>



                        <div class="col-md-12">

            <footer class="footer">
                <div class="container">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
  
</body>

</html>
