
   <div class="card-deck">
      <div class="col-xl-6">
          <div class="card ">
              <div class="card-header ">
                  <h4 class="card-title">Your Shouts Requests</h4>
                  <p class="card-category">A list of all of your current requests</p>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th class="center">Order Number</th>
                    <th class="center">Talent Name</th>
                    <th class="center">Price</th>

                    <th class="center column-remove-1">Date Requested</th>
                    <th class="center">Update</th>
                  </tr>
                </thead>
                <% @orders_pending.each do |order| %>
                  <tbody>
                    <tr>
                      <td class="center"><%= order.id %></td>
                      <td class="center"><%= order.seller.name %></td>
                      <td class="center"><%= number_to_currency(order.order_price) %></td>
                      <td class="center column-remove-1"><%= order.created_at.strftime("%B %-d, %Y") %></td>

                      <td class="center">
                            <%= link_to edit_order_path(order), class: "btn btn-link" do %>
                            <i class="fa fa-indent" aria-hidden="true"></i>
                            <% end %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <div class="digg_pagination">
                  <%= will_paginate @orders_pending, :param_name => 'orders_pending_page_1', :page_links => false %>
                </div>
           </div>
      </div>

    <div class="col-xl-6">
        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">Your Completed Shouts</h4>
                <p class="card-category">A list of all of your completed shouts ready for download!</p>
            </div>
            <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="center">Order Number</th>
                      <th class="center">Talent Name</th>
                      <!-- <th class="center column-remove-1">Date Scheduled</th> -->
                      <th class="center">Download Your file!</th>
                      <th class="center">View</th>

                    </tr>
                  </thead>
                  <% @orders_charged.each do |order| %>
                    <tbody>
                      <tr>
                      <td class="center"><%= order.id %></td>
                      <td class="center"><%= order.seller.name %></td>
                      <!-- <td class="center column-remove-1"><%= order.created_at.strftime("%b. %-d, %Y") %></td> -->
                      <td class="center"><%= link_to "Download", order.video_order.video.url %></td>
                      <td class="center"><%= link_to 'View', order_path(order) %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <div class="digg_pagination">
                  <%= will_paginate @orders_charged, :param_name => 'orders_charged_page_1', :page_links => false %>
                </div>
            </div>
        </div>
      </div>
    </div>


  <div id="myModal-p" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <h2>Are you sure?</h2>
          <p>Editing any of your current payment settings will override any
             previous settings and you will need to re-enter your banking data.
            You should only be doing this if you have changed banks or bank accounts,
            have a new location or your banking information has updated on the banks end.</p>
          <%= link_to "Yes", new_stripe_account_path(@user) %>/
          <%= link_to "No", "javascript:void(0)",'data-dismiss': "modal" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
