<% if current_user.seller? %>
                        <div class="col-md-12">

                            <div class="card">

                                <div class="card-header ">
                                    <h4 class="card-title">Your yoyo</h4>
                                    <p class="card-category">Here's your yoyo!</p>
                                </div>

                                <div class="card-body ">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <% if @listing.listing_status["live"] %>
                                      <%= form_for @listing, remote: true do |f| %>
                                      <%= f.hidden_field :listing_status, value: "hold" %>
                                      <%= f.submit "Put Listing On Hold", data: {confirm: "Are you sure you want to put your listing on hold? You won't be able to take Shout requests until put back to live." }, class: "btn"  %>
                                      <% end %>
                                      <% elsif @listing.listing_status["hold"] %>
                                      <%= form_for @listing, remote: true do |f| %>
                                      <%= f.hidden_field :listing_status, value: "live" %>
                                      <%= f.submit "Put Listing Live", data: {confirm: "Are you sure you want to put your listing live? You will be able to accept Shout requests!" }, class: "btn"  %>
                                      <% end %>
                                      <% end %>

                                      <div class="center">
                                        <h1>Editing Listing</h1>
                                      </div>
                                        <%= render 'form', listing: @listing %>
                                    </div>

                                    <div class="col-md-6">
                                      <div class="center">
                                      <%= image_tag @listing.image_url(:thumb) %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card-footer ">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Upload
                                        <i class="fa fa-circle text-danger"></i> Upload Complete
                                    </div>
                                    <hr>
                                </div>
                            </div>

                        </div>




<script>

</script>

<% end %>
