<% if current_user.seller? %>
                        <div class="col-md-12">

                            <div class="card">

                                <div class="card-header ">
                                    <h4 class="card-title">Edit Shout</h4>
                                    <p class="card-category"></p>
                                </div>

                                <div class="card-body ">
                                  <div class="row">
                                    <div class="col-xl-12">
                                      <div class="row">
                                        <div class="image-circle-show">
                                          <div class="listing-show-images">
                                            <%= image_tag @listing.image_url(:thumb) %>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="center">
                                      <% if @listing.listing_status["live"] %>
                                      <%= form_for @listing, remote: true do |f| %>
                                      <%= f.hidden_field :listing_status, value: "hold" %>
                                      <%= f.submit "Put Listing On Hold", data: {confirm: "Are you sure you want to put your listing on hold? You won't be able to take Shout requests until put back to live." }, class: "btn"  %>
                                      <% end %>
                                      <% elsif @listing.listing_status["hold"] %>
                                      <%= form_for @listing, remote: true do |f| %>
                                      <%= f.hidden_field :listing_status, value: "live" %>
                                      <%= f.submit "Put Listing Live", data: {confirm: "Are you sure you want to put your listing live? You will be able to accept Shout requests!" }, class: "btn btn-primary"  %>
                                      <% end %>
                                      <% end %>
                                      </div>
                                        <%= render 'form', listing: @listing %>
                                    </div>


                                  </div>
                                </div>

                            </div>

                        </div>




<script>

</script>

<% end %>
