
<div class="col-xl-12">
    <div class="card">
        <div class="card-min-height-50vh">
            <div class="card-header ">
                <h4 class="card-title">Affilaites</h4>
                <p class="card-category">All Affiliates</p>
            </div>
            <div class="card-body table-full-width table-responsive">
              <div class="padding_5">

                <table class="table">
                  <thead>
                    <tr>
                      <th class="center">#</th>
                      <th class="center">Name</th>
                      <th class="center">Email</th>
                      <th class="center">Approval Status</th>
                      <th class="center">Seller(s)</th>

                    </tr>
                  </thead>
                  <tbody>
                      <% @affiliates.each do |affiliate| %>
                      <tr>
                        <td class="center"><%= affiliate.id %></td>
                        <td class="center"><%= affiliate.name %></td>
                        <td class="center"><%= affiliate.email %></td>
                        <td class="center">
                          <% if affiliate.approved == true %>
                            <p>Approved</p>
                            <% else %>
                              <%= form_for affiliate, remote: true do |f| %>
                              <%= f.hidden_field :approved, value: true %>
                              <%= f.submit "Approve", data: {confirm: "Are you sure?"}, class: "form-control" %>
                            <% end %>
                          <% end %>
                        </td>
                        <td class="center"><%= affiliate.users.ids %></td>
                    </tr>
                  </tbody>
                  <% end %>
                </table>


              </div>
            </div>
        </div>
    </div>
</div>
