
<div class="card-deck">
  <div class="col-xl-4">
    <div class="card">
        <div class="card-min-height-50vh">
            <div class="card-header ">
                <h4 class="card-title">Listings</h4>
                <p class="card-category">All Listings</p>
            </div>
            <div class="card-body table-full-width table-responsive">
              <div class="padding_5">
                <%= @listings_count_all %>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <div class="card">
        <div class="card-min-height-50vh">
            <div class="card-header ">
                <h4 class="card-title">Listings</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body table-full-width table-responsive">
              <div class="padding_5">

                <table class="table">
                  <thead>
                    <tr>
                      <th class="center">#</th>
                      <th class="center">Name</th>
                      <th class="center">User ID</th>
                      <th class="center">Price</th>

                    </tr>
                  </thead>
                  <tbody>
                      <% @listings.each do |listing| %>
                      <tr>
                        <td><%= listing.id %></td>
                        <td><%= listing.name %></td>
                        <td><%= listing.user_id %></td>
                        <td><%= listing.price %></td>
                    </tr>
                  </tbody>
                  <% end %>
                </table>
                <div class="digg_pagination">
                <%= will_paginate @listings, :param_name => 'admin_listings_page' %>
                </div>

              </div>
            </div>
        </div>
    </div>
</div>
</div>
