


  <div class="center">
    <h3>Payment Details</h3>
    <% if (current_user || current_affiliate).stripe_account.acct_id.present? %>
      <p class="card-category" style="color:green; font-size: 11px;">You already have a connected account for your payouts from Shouts.  Only update your account if your banking information has changed.<p>
    <% end%>
  </div>
    <div class="card-deck">
        <div class="col-xl-6">
            <div class="card scroll">
                <div class="card-header ">
                    <h4 class="card-title">Business or Personal Account Information</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body ">
                  <div class="ro3w">
                     Account Type: <%= (@stripe_account.account_type).capitalize %>
                  </div>
                  <div class="r3ow">
                    <%= @stripe_account.business_tax_id %>
                  </div>
                  <div class="r3ow">
                    First Name: <%= @stripe_account.first_name %> <br>
                    Last Name: <%= @stripe_account.last_name %>
                  </div>
                  <div class="ro3w">
                    SSN (last 4): <%= @stripe_account.ssn_last_4 %>
                  </div>
                  <hr>
                  <div class="ro3w">
                    DOB: <%= @stripe_account.dob_month %>/<%= @stripe_account.dob_day %>/<%= @stripe_account.dob_year %>
                  </div>
                  <hr>
                  <div class="ro33w">
                    Address <br>
                    Street: <%= @stripe_account.address_line1 %> <br>
                    City: <%= @stripe_account.address_city %> <br>
                    State: <%= @stripe_account.address_state %> <br>
                    Postal: <%= @stripe_account.address_postal %> <br>
                  </div>
                    <hr>
                  <%= link_to 'Edit', edit_stripe_account_path %>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
              <div class="card scroll">
                  <div class="card-header ">
                      <h4 class="card-title">Banking & Routing Information</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body ">
                    <div class="form-group">
                      <% @stripe_account_bank.external_accounts.each do |balance| %>
                          Routing Number: <%= as_table_row_bank(balance["routing_number"]) %> <br>
                          Currency: <%= as_table_row_bank(balance["currency"]).upcase %>
                      <% end %>
                    </div>
                    <hr>
                    <%= link_to 'Edit', new_bank_account_path(@stripe_account) %>
                  </div>
                </div>
              </div>
            </div>
          </div>


<script>

var stripe = Stripe('pk_test_WUSowiZS0TqTSqQJucPWU8kh');

  $(function(){
    $('#stripe_account_account_type').change(function(){
      if($('#stripe_account_account_type').val() == 'company'){
          $('.business-row').removeClass('hidden');
        } else {
          $('.business-row').addClass('hidden');
        }
    });
  });
</script>


</html>
