<p id="notice"><%= notice %></p>

<p>
  <strong>Clients:</strong>
  <%= @affiliate_dashboard.clients %>
</p>

<p>
  <strong>Analytics:</strong>
  <%= @affiliate_dashboard.analytics %>
</p>

<p>
  <strong>Orders:</strong>
  <%= @affiliate_dashboard.orders %>
</p>

<%= link_to 'Edit', edit_affiliate_dashboard_path(@affiliate_dashboard) %> |
<%= link_to 'Back', affiliate_dashboards_path %>
