
<div class="center">
  <h2>
    <%= @user.name %>
  </h2>
</div>

<div class="card-deck">
    <div class="col-xl-4">
        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">Response Time</h4>
                <p class="card-category">Current Month</p>
            </div>
            <div class="card-body ">
                <% @orders_month.each do |month, orders| %>
                  <h2 class="center"><%= (orders.sum { |order| order.updated_at.day - order.created_at.day } / orders.count )  %> Days </h2>
                <% end %>
            </div>
        </div>
    </div>

      <div class="col-xl-8">
          <div class="card scroll">
              <div class="card-header ">
                  <h4 class="card-title">Monthly</h4>
                  <p class="card-category">Monthly Shouts chart</p>
              </div>
              <div class="card-body ">
                  <%= line_chart @orders_h.group_by_month(:created_at).count %>

              </div>
          </div>
      </div>

      <div class="col-xl-4 mt-5">
          <div class="card ">
              <div class="card-header ">
                  <h4 class="card-title">Shouts Analytics</h4>
                  <p class="card-category">Daily</p>
              </div>
              <div class="card-body ">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="center">Month</th>
                      <th class="center">Amount of Shouts</th>
                    </tr>
                  </thead>
                  <% @orders_day.each do |day, orders| %>
                  <tbody>
                    <tr>
                        <td><%= day.strftime("%b/%d") %></td>
                        <td class="center"><%= orders.count %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
      <div class="col-xl-8 mt-5">
          <div class="card">
              <div class="card-header ">
                  <h4 class="card-title">Daily</h4>
                  <p class="card-category">Daily Shouts chart</p>
              </div>
              <div class="card-body ">
                <%= line_chart @orders_h.group_by_day(:created_at).count %>
              </div>
          </div>
      </div>

  </div>
</div>
