<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

              <div class="card-deck">

              <% if current_user.seller? %>

                <div class="col-xl-6">
                    <div class="card">
                      <div class="card-min-height-50vh">
                        <div class="card-header ">
                            <h4 class="card-title">Order Intel</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                        <div class="padding_5">
                          <p>
                            <strong>Name:</strong>
                            <%= @order.name %>
                          </p>
                          <p>
                            <strong>Description:</strong>
                            <%= @order.description %>
                          </p>
                          <% if @order.order_status == 2 %>
                          <p>Already Uploaded!</p>
                          <% elsif @order.order_status == 3 %>
                          <p>Order cancelled</p>
                          <% elsif @order.order_status == "created" || 1 %>
                          Don't like this request? You can cancel it:
                          <%= form_for @order, remote: true do |f| %>
                          <%= f.hidden_field :order_status, value: "cancelled" %>
                          <i class="fa fa-times" aria-hidden="true"></i>
                          <%= link_to 'X', "javascript:void(0)", 'data-target': "#myModal-3", 'data-toggle': "modal" %>
                          <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>




                  <div class="col-xl-6">
                      <div class="card">
                        <div class="card-min-height-50vh">
                          <div class="card-header ">
                              <h4 class="card-title">Upload Your Order!</h4>
                              <p class="card-category">Upload your Order here</p>
                          </div>
                          <div class="card-body table-full-width table-responsive">
                            <div class="padding_5">
                              <%= form_for([@listing, @order]) do |form| %>
                                <% if @order.errors.any? %>
                                  <div id="error_explanation">
                                    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
                                    <ul>
                                    <% order.errors.full_messages.each do |message| %>
                                      <li><%= message %></li>
                                    <% end %>
                                    </ul>
                                  </div>
                                <% end %>
                                <% if @order.video.present? && @order.order_status["charged"] %>
                                <p>Already Uploaded & Complete!</p>
                                <% elsif @order.order_status["cancelled"] %>
                                <p>Order Cancelled or Expired</p>
                                <% elsif @order.order_status["created"] %>
                                <div class="field">
                                  <%= form.file_field :video, class: "upload" %>
                                </div>
                                <div class="actions">
                                  <%= form.submit "Upload", class: "btn btn-success"  %>
                                </div>
                                <% end %>
                                <% end %>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <% end %>




                <% if current_user.buyer? || current_user.seller? %>
                <div class="col-xl-8 mx-auto">
                    <div class="card">
                      <div class="card-min-height-50vh">
                        <div class="card-header ">
                            <h4 class="card-title">Your Shouts Request</h4>
                            <p class="card-category">View, edit, or update your Shout!</p>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                          <div class="padding_5">
                          <p>
                            <strong>Name</strong>(Who it's for)<strong>:</strong>
                            <%= @order.name %>
                          </p>
                          <p>
                            <strong>Description:</strong>
                            <%= @order.description %>
                          </p>
                          <% if @order.video.present? && @order.order_status == 2 %>
                          <p>Already Uploaded!</p>
                          <% elsif @order.order_status == 3 %>
                          <p>Order cancelled</p>
                          <% elsif @order.order_status == "created" || 1 %>
                            <%= form_for @order, remote: true do |f| %>
                            <%= f.hidden_field :order_status, value: "cancelled" %>
                            <%= link_to 'Cancel Shouts Request', "javascript:void(0)", 'data-target': "#myModal-3", 'data-toggle': "modal", class: "btn btn-light float-right" %>
                            <% end %>

                          </div>
                        </div>

                          <a class="collapsed card-link text-center" id="edit-accordion" data-toggle="collapse" href="#collapseFIRST">
                            <div class="card-header">
                              <h5 class="card-title text-dark">Edit & Update your Shout Request</h5>
                          <div class="center">
                      		    <h6 class="card-subtitle mb-2 text-muted card-category"><i class="fa fa-arrow-circle-o-down rotate fa-2x" aria-hidden="true"></i></h6>
                          </div>
                        </div>
                        </a>
                        <div id="collapseFIRST" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                              <h6>Your Shout may already be in progress! We cannot guarantee your updates will be seen in time.</h6>
                              <br>
                              <%= form_for(@order) do |form| %>
                                <div class="form-group">
                                  <%= form.label :email, "Your Email Address -- (You can send the Shout to a new email once uploaded!)" %>
                                  <%= form.text_field :email, class: "form-control", required: true   %>
                                </div>
                                <div class="form-group">
                                  <%= form.label :description, "Describe to Talent what to say -- (Be as detailed as you can!)" %>
                                  <%= form.text_area :description, class: "form-control", :rows => 10, required: true    %>
                                </div>
                                <div class="form-group">
                                  <%= form.submit "Update", class: "btn btn-primary btn-lg btn-block btn-custom" %>
                                </div>
                                <% end %>
                                <%= form_for @order, remote: true do |f| %>
                                  <%= f.hidden_field :order_status, value: "cancelled" %>
                                  <%= f.button "Cancel Order", type:'submit', data: {confirm: "Are you sure you want to cancel this order? You cannot undo this"}, class: "btn btn-link" do %>
                                  <p>Cancel Your Shout</p>
                                <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                        <a class="collapsed card-link text-center" id="edit-accordion" data-toggle="collapse" href="#collapseFIRST">
                      	<div class="card-footer text-muted">
                      	</div>
                        </a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% end %>

          <div class="col-md-12">
      </div>
  </div>


<div id="myModal-3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <h2>Are you sure?</h2>
        <p>You can't undo a cancelled order.</p>
          <%= form_for @order, remote: true do |f| %>
          <%= f.hidden_field :order_status, value: "cancelled" %>
          <%= f.button type:'submit', class: "btn btn-danger" %>
          <% end %>
        <%= link_to "No", "javascript:void(0)",'data-dismiss': "modal" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>

  $(".rotate").click(function(){
 $(this).toggleClass("down")  ;
})


// $(".rotate").bind("click", (function () {
//
// 	$(this).toggleClass("down")  ;
//
//     }));
//
//     $("#edit-accordion").bind("click", (function () {
//
// 	$(this).toggleClass("down")  ;
//
// 	$(".rotate").trigger("click");
//
//     }));

</script>
