<!DOCTYPE html>
<html lang="en">

<head>

    </div class="container">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
          <% end %>
        <% end %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->

    <script src="https://js.stripe.com/v3/"></script>






        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
        <title>yoyo8</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>





        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image=" ">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                      SHOUTStv

                    </a>
                </div>
                <ul class="nav">
                  <% if current_user.seller? || current_user.try(:admin?) %>
                    <li>
                        <a class="nav-link" href="/admin/users">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Users</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/admin/sellers">
                            <i class="nc-icon nc-notes"></i>
                            <p>Sellers</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/admin/buyers">
                            <i class="nc-icon nc-notes"></i>
                            <p>Buyers</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/admin/orders">
                            <i class="nc-icon nc-notes"></i>
                            <p>Orders</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/admin/listings">
                            <i class="nc-icon nc-notes"></i>
                            <p>Listings</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/admin/analytics">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Analytics</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/admin/admins">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Admins</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/admin/create_seller">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Create Seller</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/users/edit">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>User</p>
                        </a>
                    </li>


                    <% end %>

                </ul>
            </div>
        </div>

        <% if user_signed_in? || current_user.try(:admin?) %>

        <div class="main-panel">
            <!-- Navbar -->
                      <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                          <div class=" container-fluid  ">
                              <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-bar burger-lines"></span>
                                  <span class="navbar-toggler-bar burger-lines"></span>
                                  <span class="navbar-toggler-bar burger-lines"></span>
                              </button>
                              <div class="collapse navbar-collapse justify-content-end" id="navigation">
                                  <!-- <ul class="nav navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/dashboard">
                                            <span class="no-icon">Talent</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/dashboard">
                                            <span class="no-icon">Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/dashboard">
                                            <span class="no-icon">Sign Out</span>
                                        </a>
                                    </li>
                                  </ul> -->
                                  <%= render 'layouts/navbar_admin' %>
                              </div>
                          </div>
                      </nav>
                      <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">

                  <%= yield %>

        </div>
    </div>
  </div>

 <% end %>
</body>

<script type="text/javascript">
        var baseOptions = {
          maintainAspectRatio: false,
          animation: false
          };
</script>

</html>
