<!DOCTYPE html>
<html lang="en">

<head>

      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
          <% end %>
        <% end %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->

    <script src="https://js.stripe.com/v3/"></script>






        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
        <title>yoyo8</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>





        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>
  <body id="admin">
    <nav class="navbar navbar-expand navbar-dark bg-primary"> <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon"></span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"> <a class="nav-link" href="/">Navbar <span class="sr-only">(current)</span></a> </li>
            </ul>
            <form class="form-inline my-2 my-md-0"> </form>
        </div>
    </nav>
      <div id="wrapper" class="toggled">

              <div id="sidebar-wrapper">
                  <!-- <div class="logo">
                      <a href="/" class="simple-text">
                        SHOUTStv

                      </a>
                  </div> -->
                  <ul class="sidebar-nav">
                  <% if current_affiliate  %>
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li> -->
                    <li>
                        <a class="nav-link" href="/a/clients">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Clients</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/seller">
                            <i class="nc-icon nc-notes"></i>
                            <p>Analytics</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/analytics">
                            <i class="nc-icon nc-notes"></i>
                            <p>Shouts</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/settings">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Settings</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div id="page-content-wrapper">

                <div class="container-fluid">

                  <%= yield %>

        </div>
  </div>

 <% end %>
</body>

<script type="text/javascript">
        var baseOptions = {
          maintainAspectRatio: false,
          animation: false
          };
</script>

</html>
